<form name="addChildForm" (ngSubmit)="addChild(pickListValue.id)">
        <div class="modal-header">
            <h5 class="modal-title" jhiTranslate="entity.pickListChild.title">Confirm delete operation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="col-5">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pghApp.pickListValue.pickListValue" for="field_pickListValue">Pick List Value</label>
                    <input type="text" class="form-control" name="pickListValue" id="field_pickListValue"
                        [(ngModel)]="pickListValue.subChildValue" required/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" class="btn btn-danger btn-sm">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Submit</span>
            </button>
        </div>
    </form>
    