<!--<nav class="navbar navbar-dark navbar-expand-md jh-navbar">-->
        <!--<a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">-->
            <!--<span class="navbar-version">@ Copyright NicheHands Technologies Pvt.Ltd</span>-->
        <!--</a>-->
<!--</nav>-->
<div class="row footer_above fixed-bottom justify-content-center">
        <p>Copyright © 2018 by Nichehands Technologies Pvt Ltd. All rights reserved.</p>
    <!--<div class="col ">-->
        <!-- <div class="col-3 ">
            <ul>
                <li>GET INVOLVED</li>
                <li>Volunteer</li>
                <li>PGH Ambassadors</li>
                <li>PGH Job Board</li>
            </ul>
        </div>
        <div class="col-3 ">
            <ul>
                <li>QUICK LINKS </li>
                <li>About</li>
                <li>Careers</li>
                <li>News & Events</li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li>About Organization </li>
                <li>Vision</li>
                <li>Mission</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li>Isha Foundation, 15, Govindasamy Naidu Layout,</li>
                <li>Singanallur, Coimbatore - 641 005, INDIA</li>
                <li>Telephone: 8300083111</li>
            </ul>
        </div>
        <div class ="col-12">
            <p>Copyright © 2018 by Nichehands Technologies Pvt Ltd. All rights reserved.</p>
        </div> -->
    <!--</div>-->
    <!--<div class="clearfix"></div><br/>
    <div class="row footer">

    </div>-->
</div>
