<div class="row justify-content-center">
    <div class="col-9">
        <h4 id="page-heading">
            <span jhiTranslate="pghApp.sector.home.title">Sectors</span>
            <button id="jh-create-entity" class="btn btn-info btn-sm float-right jh-create-entity create-sector" [routerLink]="['/sector/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span  jhiTranslate="pghApp.sector.home.createLabel">
                Create new Sector
                </span>
            </button>
        </h4>
        <jhi-alert></jhi-alert>
        <br/>
        <div class="table-responsive" *ngIf="sectors">
            <table class="table table-striped table-bordered" style="font-size: 14px;">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                <th>S No.</th>
                <th jhiSortBy="zonalZoneName"><span jhiTranslate="pghApp.sector.zonal">Zonal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="sectorName"><span jhiTranslate="pghApp.sector.sectorName">Sector Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="sectorAddress"><span jhiTranslate="pghApp.sector.sectorAddress">Sector Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <!-- <th jhiSortBy="sectorIncharge"><span jhiTranslate="pghApp.sector.sectorIncharge">Sector Incharge</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="status"><span jhiTranslate="pghApp.sector.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createdBy"><span jhiTranslate="pghApp.sector.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="modifiedBy"><span jhiTranslate="pghApp.sector.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                <th jhiSortBy="createdAt"><span jhiTranslate="pghApp.sector.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <!-- <th jhiSortBy="updatedAt"><span jhiTranslate="pghApp.sector.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sector of sectors ;trackBy: trackId; let i = index">
                    <!-- <td><a [routerLink]="['/sector', sector.id, 'view' ]">{{sector.id}}</a></td> -->
                    <td>{{i + 1}}</td>
                    <td>
                        <div *ngIf="sector.zonalId">
                            <a [routerLink]="['../zonal', sector.zonalId , 'view' ]" >{{sector.zonalZoneName}}</a>
                        </div>
                    </td>
                    <td>{{sector.sectorName}}</td>
                    <td>{{sector.sectorAddress}}</td>
                    <!-- <td>{{sector.sectorIncharge}}</td>
                    <td>{{sector.status}}</td>
                    <td>{{sector.createdBy}}</td>
                    <td>{{sector.modifiedBy}}</td> -->
                    <td>{{sector.createdAt | date:'medium'}}</td>
                    <!-- <td>{{sector.updatedAt | date:'medium'}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!-- <button type="submit"
                                    [routerLink]="['/sector', sector.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button> -->
                            <button type="submit"
                                    [routerLink]="['/sector', sector.id, 'edit']"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span> -->
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'sector/'+ sector.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <!-- <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span> -->
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="sectors && sectors.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
