<div class="row justify-content-center">
    <div class="col-7">
        <div *ngIf="shadeArea">
            <h5><span jhiTranslate="pghApp.shadeArea.detail.title">Shade Area</span></h5><!--  {{shadeArea.id}} -->
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pghApp.shadeArea.batch">Batch</span></dt>
                <dd>
                    <div *ngIf="shadeArea.batchId">
                        <a [routerLink]="['/batch', shadeArea.batchId, 'view']">{{shadeArea.batchBatchName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pghApp.shadeArea.noOfSeedlings">No Of Seedlings</span></dt>
                <dd>
                    <span>{{shadeArea.noOfSeedlings}}</span>
                </dd>
                <dt><span jhiTranslate="pghApp.shadeArea.date">Date</span></dt>
                <dd>
                    <span>{{shadeArea.date}}</span>
                </dd>
                <!-- <dt><span jhiTranslate="pghApp.shadeArea.status">Status</span></dt>
                <dd>
                    <span>{{shadeArea.status}}</span>
                </dd>
                <dt><span jhiTranslate="pghApp.shadeArea.createdBy">Created By</span></dt>
                <dd>
                    <span>{{shadeArea.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="pghApp.shadeArea.modifiedBy">Modified By</span></dt>
                <dd>
                    <span>{{shadeArea.modifiedBy}}</span>
                </dd> -->
                <dt><span jhiTranslate="pghApp.shadeArea.createdAt">Created At</span></dt>
                <dd>
                    <span>{{shadeArea.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="pghApp.shadeArea.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{shadeArea.updatedAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info btn-sm">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shade-area', shadeArea.id, 'edit']"
                    class="btn btn-primary btn-sm">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
